langchain
langchain-openai 
langchainhub
langchain-community
tavily-python
langchain-groq
langchain-google-genai
langchain-core
langchain-google-vertexai
pypdf
langchain-text-splitters
chromadb
fastapi 
uvicorn 
python-multipart
pydantic[all]